/*Project 1 CSS file.*/
body {
	padding: 20px 10px;
	font-family: arial;
	max-width: 2000px;
	margin: 0 auto;
	font-size: 1.5em;
}

h1 {
	text-align: center;
	color: #3366FF;
}

p {
	margin: 10px 0;
}

ul {
	list-style-type: circle;
}

li {
	font-size: 25px;
	line-height: 35px;
}

.lesson {
	background-color: #3366FF;
	border-radius: 10px;
	color: white;
	padding: 10px;
	margin: 10px auto;
}

h2 {
	margin: 10px;
}

.concept {
	background-color: grey;
	padding: 1px;
	margin: 5px;
	border-radius: 4px;
	color: white;
}

.concept-title {
	font-size: 25px;
	font-style: italic;
	text-align: center;
	margin: 10px;
    color: black;
    font-weight: bold;
}

.concept-description {
	font-weight: 300;
	margin: 5px;
}



